.wd-avatar-image{
    border-radius: 90px;
    height: 48px;
    width:48px;
}

.wd-no-bullet-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wd-background-grey{
    background-color: rgb(42, 42, 42);
}

.wd-text-color-white{
    color: white;
}

.wd-no-text-wrap{
    white-space: nowrap;
}