.wd-avatar-image{
    border-radius: 90px;
    height: 48px;
    width:48px;
}

.wd-border-radius-50{
    border-radius:50px
}

.wd-max-width-350px{
    max-width:350px
}

.wd-border-1px-solid{
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
}

.wd-search{
    width:77%;
    display:flex;
    align-items: center;  
}

.wd-search.internal{
    width:99%;
    display:flex;
    align-items: center;  
}

.wd-no-bullet-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wd-image-text{
    position: relative;
    bottom: 5rem;
    margin:1rem;
    width: 100%;
    color: white;
}

.wd-background-grey{
    background-color: rgb(42, 42, 42);
}

.wd-text-color-white{
    color: white;
}

.wd-article-image{
    border-radius: 10px;
    height: 80px;
    width: 80px;
}

.wd-flavor-text{
    color:grey;
    font-size:small;
}

.wd-no-text-wrap{
    white-space: nowrap;
}

.wd-margin-fix-image{
    margin-bottom:-2rem
}

.wd-content-image{
    height: 100%;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 0px;
}

.wd-content-image-no-text{
    height: 100%;
    width: 100%;
    border-radius: 12px;
}


.wd-border-bottom-rounded{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}