.wd-body{
    background-color: black;
    margin-left: 16px;
}

.wd-text-centered{
    text-align: center;
}

.wd-post-padding{
    padding-top:5px;
    padding-bottom:5px;
}

.wd-grid-row{
    clear:both;
}

.wd-float-done {
    clear: both;
}

/*Search bar elements*/
.wd-search-background{
    background-color: darkgrey;
}
.wd-rounded-corners-all-around-grey {
    border-radius: 50px;
    border-color: darkgrey;
    border-width: 3px;
   }

.wd-grid-col-search {
        width: 85%;
        float: left;
    }

/*Gear Elements*/
.wd-loat-right-gear {
    float: right;
 }

 .wd-grid-col-gear{
    width: 10%;
    float: right;
 }

 .wd-container-gear {
    text-align: center;
    color:rgb(29,161,242);
    text-decoration: none;
  }

/*Link Elements*/
.wd-container-topic-links{
    width:10%;
    float: left;
    padding:16px;
}

.wd-highlighted-bottom-border{
    border-top: 0px;
    border-left:0px;
    border-right:0px;
    border-bottom: 5px;
    border-color:rgb(29,161,242);
    border-style: solid;
}

.wd-text-topic-highlighted-color{
    color: rgb(29,161,242);
}

.wd-text-topic-other-color{
    color: rgb(110, 118, 125);
}

.wd-link-text-size{
    font-size: 16px;
}

.wd-horizontal-line{
    width: 100%;
    color: rgb(110, 118, 125);
}

/*Trending elements*/

.wd-trending-topic-text-formatting{
    color:rgb(110, 118, 125);
    font-size:13px;
}
.wd-trending-topic-formatting{
    color:aliceblue;
    font-size:16px;
}

/*Suggested Posts*/

.wd-suggested-text-formatting{
    color:aliceblue;
    font-size: 13px;
}

.wd-suggested-postdate{
    color:rgb(110, 118, 125);
    font-size: 13px;
}

.wd-suggested-posttitle{
    color:aliceblue;
    font-size: 16px;
}

.wd-suggested-container-60{
    width:60%;
}
.wd-suggested-container-70{
    width:70%;
}

.wd-suggested-container-20{
    width:20%;
}
.wd-float-left{
    float:left;
}
.wd-float-right{
    float:right;
}

.wd-suggested-image-format{
    border-radius: 20px;
    height: 100px;
    width:100px;
    margin-right: 16px;
}