.wd-float-done {
    clear: both;
}
.wd-float-left{
    float:left;
}
.wd-float-right{
    float:right;
}

.wd-fa-stack {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2.5em;
}

.wd-border-radius-50{
    border-radius:50px
}

@media (min-width: 0px)
   and (max-width: 1200px) {
    .wd-navigation-size{
        max-width: 5.5em;
    }
}
@media (min-width: 1200px){
    .wd-navigation-size{
    max-width: 12em;
}
}

.md-form.mt-0{
    width:500px;
    display:flex;
    align-items: center;  
  }
  
  .material-icons.mdc-button__icon{
    position:absolute;
  }
  
  .mdc-button__icon + input{
    padding-left: 25px;
  }